<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>.cssError { background-color:red; } </style>
</head>

<body>
    <h1>Editar usuarios</h1>
    <form method="post" action="#" th:action="@{/editarUsuarios/submit}" th:object="${usuarioForm}"><!--cambió esta linea-->
        <label>Id: <input type="text" readonly id="id" th:field="*{id}" /> </label><br /><!--cambió esta linea-->
        <label>Nombre: <input type="text" id="nombre" th:field="*{nombre}" /></label><br />
        <label>Contraseña: <input type="password" id="password" th:field="*{password}" /></label><br />
        <label>Indica el ROL: <br>
          <div th:each="rol : ${T(com.example.myapp.domain.Rol).values()}">
              <input type="radio" name="button1" th:value="${rol}" th:text="${rol}"
              th:field="*{rol}" />
      </div>
        <label>Fecha de registro: <input type="text" id="fechaRegistro" th:field="*{fechaRegistro}" /></label><br />
        <input type="submit" value="Enviar" />
    </form>
    <a th:href="@{/public/}">Inicio</a><br/>
</body>
</html>