<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ivastock´s</title>
    <link rel="stylesheet" href="/css/newUsuario.css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="/js/arrastra.js" defer> </script>
</head>

<body>
    <header>
        <img src="/images/Logo.png" alt="Logo" id="logocabecera">
        <span id="nombretiendaheader">Ivastock´s</span>
        <div class="language-select-container">

            <select id="language-select" class="language-select">
                <option value="es">Español</option>
                <option value="en">English</option>
                <option value="fr">Français</option>

            </select>
        </div>
        <div id="social-icons">

            <a href="#" id="social-icon"><img src="/images/twittericon.png" alt="Twitter"></a>
            <a href="#" id="social-icon"><img src="/images/facebookicon.png" alt="Facebook"></a>
            <a href="#" id="social-icon"><img src="/images/instagramicon.png" alt="Instagram"></a>
        </div>
    </header>
    <div id="contenedor-formulario">

        <form id="formulario" action="#" method="post" th:action="@{/nuevoUsuario/submit}" th:object="${usuarioForm}"
            enctype="multipart/form-data">
            <div id="contenedor-logo"><img src="/images/Logo.png" alt="Logo" id="logo"><span
                    id="nombrelogo">Ivastock´s</span></div>


            <label hidden>Id: <input type="hidden" id="id" th:field="*{id}" /> </label><br />
            <label>Nombre: <input type="text" id="nombre" th:field="*{nombre}" /></label><br />
            <label>Contraseña: <input type="password" id="password" th:field="*{password}" /></label><br />

            <label for="imagen" id="area-carga" class="area-carga">
                Arrastra aquí tu imagen o haz clic para seleccionar
            </label>
            <img id="vista-previa-imagen" src="#" alt="Vista previa de la imagen"
                style="display: none; max-width: 100%; max-height: 100px;" />
            <input type="file" id="imagen" accept="image/*" name="file" style="display: none;" /> <br>
            <button id="borrar-imagen" type="button" style="display: none;">Borrar imagen</button>

                <label id="rol-label">Indica el ROL: <br>
                <div th:each="rol : ${T(com.example.myapp.domain.Rol).values()}" id="rol-div">
                    <input type="radio" name="radio" th:value="${rol}" th:field="*{rol}" /><span
                        th:text="${rol}"></span>
                </div>
                </label>
                <br>
                <input type="submit" id="botonenviar">
        </form>
        <div>


</body>

</html>