<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/categoria.css">


</head>

<body>

  <header>
    <a href="/" text-decoration="none"><img src="/images/Logo.png" alt="Logo" id="logocabecera"></a>
    <span id="nombretiendaheader">Ivastock´s</span>
    <div class="language-select-container">
      <select id="language-select" class="language-select">
        <option value="es">Español</option>
        <option value="en">English</option>
        <option value="fr">Français</option>

      </select>
    </div>
    <div id="social-icons">

      <a href="#" id="social-icon"><img src="/images/twittericon.png" alt="Twitter"></a>
      <a href="#" id="social-icon"><img src="/images/facebookicon.png" alt="Facebook"></a>
      <a href="#" id="social-icon"><img src="/images/instagramicon.png" alt="Instagram"></a>
    </div>
  </header>
  <table>
    <th colspan="3">Categorias</th>
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Funciones</th>
    </tr>
  </thead>
    <tr th:each="categoria: ${todaslascategorias}">
      <td th:text="${categoria.id}"></td>
      <td th:text="${categoria.nombre}"></td>

      <td><a th:href="@{/borrarCategoria/{id}(id=${categoria.id})}">Borrar Categoria</a>
        <br>
        <a th:href="@{/editarCategoria/{id}(id=${categoria.id})}">Editar Categoria</a>
      </td>

    </tr>
    <br>

  </table>

  <div class="boton-imagen">
  <a th:href="@{/nuevaCategoria}">
    <img src="/images/mas.png" alt="Icono de Nuevo Producto" />
    Añadir Categoria
  </a>
</div>
</body>

</html>