<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/construccion.css">
</head>
<body>
    <header>
        <a href="index.html"><img src="/images/Logo.png" alt="Logo" id="logocabecera"></a>
        <a href="index.html" id="nombretiendaheader">Ivastock´s</a>
        <div class="language-select-container">
            <select id="language-select" class="language-select">
                <option value="es">Español</option>
                <option value="en">English</option>
                <option value="fr">Français</option>

            </select>
        </div>
        <div id="social-icons">

            <a href="#" id="social-icon"><img src="/images/twittericon.png" alt="Twitter"></a>
            <a href="#" id="social-icon"><img src="/images/facebookicon.png" alt="Facebook"></a>
            <a href="#" id="social-icon"><img src="/images/instagramicon.png" alt="Instagram"></a>
        </div>
    </header>
    <div class="const">
         
         <div class="loader"></div>
    
    
    </div>
        
</body>
</html>