<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Contactanos</title>
  <!-- Bootstrap CSS -->
  
  <link rel="stylesheet" th:href="@{/css/contacto.css}">
  <link rel="icon" th:href="@{/images/logo_sat.png}">
  
</head>

<body>
  <header>
    <a th:href="@{/}"><img src="/images/Logo.png" alt="Logo" id="logocabecera">
    <span id="nombretiendaheader">Ivastock´s</span></a>
    <div class="language-select-container">
      <select id="language-select" class="language-select">
        <option value="es">Español</option>
        <option value="en">English</option>
        <option value="fr">Français</option>
      </select>
    </div>
    <div id="social-icons">
      <a href="#" id="social-icon"><img src="/images/twittericon.png" alt="Twitter"></a>
      <a href="#" id="social-icon"><img src="/images/facebookicon.png" alt="Facebook"></a>
      <a href="#" id="social-icon"><img src="/images/instagramicon.png" alt="Instagram"></a>
    </div>
  </header>
  <div id="contenedor-formulario">
    <form th:action="@{/contactanosresuelto}" th:object="${contactaForm}" method="post" id="formulario">
      <div id="contenedor-logo">
        <img src="/images/Logo.png" alt="Logo" id="logo">
        <span id="nombrelogo">Ivastock´s</span>
      </div>
      <div id="contact-title">Contáctanos</div>
      <label>Nombre: <input type="text" id="nombre" th:field="*{nombre}" /></label>
      <label>Apellidos: <input type="text" id="nombre" th:field="*{apellido}" /></label>
      <label>Correo Electrónico: <input type="text" id="nombre" th:field="*{email}" /></label>
      <label>Teléfono: <input type="text" id="nombre" th:field="*{telefono}" /></label>
      <label>Empresa: <input type="text" id="nombre" th:field="*{empresa}" /></label>
      <label>Preguntas/Comentarios: <input type="text" id="nombre" th:field="*{mensaje}" /></label>
      <input type="submit" id="botonenviar">
    </form>
  </div>

</body>

</html>
