<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <form action="#" method="post" th:action="@{/categoria/editar/submit}" th:object="${categoriaForm}">
        <label>Id:<input type="text" readonly id="id" th:field="*{id}" /> </label><br/>
    <label>Nombre: <input type="text" id="nombre" th:field="*{nombre}" /></label><br />
        
        <input type="submit">
    </form>

</body>

</html>